footer {
  padding-bottom: $largeskip;
  margin-top: $largeskip;
  border-top-width: $stroke;
  border-top-style: solid;
}

footer > ul, nav > ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em 1em;
}
