button {
  border-radius: $radius;
  border: 1px solid var(--sand-gray);
  background-color: var(--light-gray);
  font-size: 1rem;
  padding: 0.5rem;
  cursor: pointer;
}

button:hover {
  background-color: var(--sand-gray);
}

.button-row > button {
  margin-right: $smallskip;
}

fieldset {
  border-radius: $radius;
  margin: 0 0 1rem 0;
  border: 1px solid var(--sand-gray);
}
 
fieldset label {
  margin-left: $smallskip;
}

.selectAll {
  margin: $smallskip 0;
  font-weight: bold;
}

#typeChoices {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: $break-medium) {
  #typeChoices {
    flex-direction: row;
    flex-wrap: wrap;
  }
  #typeChoices > div {
    flex-basis: 50%
  }
}
