html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-weight: normal;
  --goethe-blue:#00618F;
  --light-gray:#f8f6f5;
  --sand-gray:#e4e3dd;
  --dark-gray:#4d4b46;
  --purple:#860047;
  --emo-red:#b3062c;
  --mustard-yellow:#e3ba0f;
  --green:#737c45;
  --magenta:#ad3b76;
  --orange:#c96215;
  --sun-yellow:#f7d926;
  --light-green:#a5ab52;
  --light-blue:#48a9da;
}

footer, header {
  padding: 1em 0;
  background-color: var(--light-gray);
  border-color: var(--sand-gray)
}

main, header > div, footer > ul, nav > ul {
  width: 100%;
  max-width: 850px;
  margin: 0 auto;
  padding: 0 1em;
  box-sizing: border-box;
}

main {
  flex-grow: 1
}
