div.hidden,
section.hidden {
  display: none
}

mjx-container[jax="CHTML"][display="true"] {
  overflow-x: scroll;
}

.button-row,
#solution {
  margin: $largeskip 0;
}

#loading {
  margin-top: $largeskip;
}
