body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14pt;
}

h1 {
  margin: 2rem 0 1rem 0;
  font-size: 24pt;
  font-weight: 300;
}

h2 {
  margin: 2rem 0 1rem 0;
  font-size: inherit;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: var(--goethe-blue);
}

a:hover {
  text-decoration: underline;
}

a.router-link-active {
  color: inherit;
}

.small {
  font-size: $small;
}
