// geometry

$tinyskip:     .2rem;
$smallskip:    .5rem;
$mediumskip:  1.0rem;
$largeskip:   2.0rem;
$hugeskip:    3.0rem;

$radius:      .15rem;
$stroke:         1px;

$break-small:  40rem;
$break-medium: 60rem;
$break-large:  80rem;

// font

$parskip: $mediumskip;
$small: 0.8rem;

$transition: 0.5s;
