<footer class="small">
  <ul>
    <li><a href="/impressum">Datenschutz und Impressum</a></li>
    <li>Eine <a href="https://codeberg.org/ktiu/truepasta">truepasta</a>-Anwendung</li>
    <li>Entwicklung unterstützt von <a href="https://www.uni-frankfurt.de/106206707/Projekt_DigiTeLL">DigiTeLL</a></li>
  </ul>
</footer>
