<header>
  <div class="brand">
    {{ site.title }}
  </div>
  <nav>
    <ul>
      <li><a href="/">Aufgaben</a></li>
      {% if site.skript_url %}<li><a href="{{ site.skript_url }}">Skript</a></li>{% endif %}
      <li><a href="/feedback">Feedback</a></li>
    </ul>
  </nav>
</header>
