---
layout: default
permalink: "/"
---

<section id="selection" class="hidden">
  <h1>Übungsaufgaben</h1>
  <fieldset>
    <legend>Aufgabentypen auswählen:</legend>
    <div class="selectAll">
      <input id="selectAll" type="checkbox" checked/><label for="selectAll">Alle Aufgabentypen</label>
    </div>
    <div id="typeChoices">
      <p>Lädt...</p>
    </div>
  </fieldset>
  <button id="show">Zufällige Aufgabe anzeigen</button>
</section>

<section id="question" class="hidden">
  <h1>Fragestellung</h1>
  <div id="questionText"></div>
  <div class="button-row">
    <button id="reveal">Lösung anzeigen</button>
    <button id="next">Nächste Aufgabe</button>
  </div>
  <div id="answer" class="hidden">
    <h1>Musterlösung</h1>
    <div id="answerText"></div>
  </div>
  <a href="{{ site.basedir }}/feedback">Feedback auf diese Aufgabe geben</a>
</section>

<section id="loading">Lädt...</p>

<script type="text/javascript" src="{{ baseurl }}/assets/js/questions.js"></script>
